* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #333;
  background-color: #dedede;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #333;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
}
.container > .sidebar {
  position: fixed;
  height: 100vh;
  width: 15%;
  background-color: #333;
}

.container > .sidebar > .logo a {
  color: white;
  display: block;
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  border-bottom: 1px solid #dedede;
}
.container > .sidebar > .nav_list {
  list-style-type: none;
}
.container > .sidebar > .nav_list > li > a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.container > .sidebar > .nav_list > li > a:hover {
  background-color: rgb(11, 95, 147);
}
.container > .sidebar > .nav_list > li > a > span::before {
  content: "˄";
  transition: 0.3s ease;
}
.container > .sidebar > .nav_list > li.active > a > span::before {
  content: "˅";
}

.container > .sidebar > .nav_list > li > ul {
  list-style: none;
  background-color: #4c4848;
  display: none;
}
.container > .sidebar > .nav_list > li.active > ul {
  display: block;
}
.container > .sidebar > .nav_list > li > ul > li > a {
  display: block;
  padding: 10px 40px;
  color: white;
  font-size: 17px;
  text-decoration: none;
}
.container > .sidebar > .nav_list > li > ul > li > a:hover {
  background-color: rgb(11, 95, 147);
}
.container > .content {
  width: 85%;
  position: absolute;
  left: 15%;
}
.hamburgar_btn {
  position: fixed;
  top: 40px;
  left: 16%;
  z-index: 1000;
  cursor: pointer;
}
.hamburgar_btn > .toggle_btn > span,
.hamburgar_btn > .toggle_btn > span::before,
.hamburgar_btn > .toggle_btn > span::after {
  width: 35px;
  height: 5px;
  content: "";
  background-color: #333;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.hamburgar_btn > .toggle_btn > span::before {
  top: -10px;
}
.hamburgar_btn > .toggle_btn > span::after {
  bottom: -10px;
}
.hamburgar_btn > .toggle_btn.active > span::before {
  transform: rotate(45deg);
  top: 0;
}
.hamburgar_btn > .toggle_btn.active > span::after {
  transform: rotate(-45deg);
  bottom: 0;
}
.hamburgar_btn > .toggle_btn.active > span {
  background-color: transparent;
}
.container > .content > .content_one,
.container > .content > .content_two,
.container > .content > .content_three {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-left: 50px;
}
.container > .content > .content_one {
  background-color: lightblue;
}
.container > .content > .content_two {
  background-color: lightpink;
}
.container > .content > .content_three {
  background-color: lightsalmon;
}
.container > .sidebar {
  left: -15%;
  transition: 0.3s ease;
}
.container > .content {
  width: 100%;
  left: 0;
  transition: 0.3s ease;
}
.hamburgar_btn {
  left: 1.5%;
  transition: 0.3s ease;
}
.container > .sidebar.active {
  left: 0;
}
.container > .content.active {
  left: 15%;
  width: 85%;
}
.hamburgar_btn.active {
  left: 16.5%;
}
.btn_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: red;
  z-index: 100;
  padding: 15px;
  color: white;
  cursor: pointer;
  transition: 1s linear;
  font-size: 25px;
  display: none;
  border-radius: 5px;
}
.btn_top.active {
  display: block;
}
.btn_top:hover {
  transition: 1s linear;
  background-color: green;
}
